/* Немного стилей для разметки. Потом всё привести в порядок */

/* лого в SVG */
/*.header-logo g {
  fill: rgba(0, 0, 0, 1);
}

.header-logo:hover g {
  fill-opacity: 0.5;
}

.header-logo:active g {
  fill-opacity: 0.3;
}

.footer-logo g {
  fill: #ffc600;
}

.partners__logo {
  width: 260px;
  height: 100px;
  display: block; 
  overflow: hidden;
}

.partners__logo:hover img {
  margin-top: -100px;
}*/

/*.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}*/


/* CATALOG */
.catalog {
  height: 260px;
}
.catalog a {
  color: #464646;
  text-decoration: none;
}
.catalog__item {
  /*width: 160px;*/
  display: inline-block;
  vertical-align: top;
  list-style: none;
  margin-right: 40px;
}
.catalog__link {
  display: block;
  width: 160px;
  height: 160px;
  background: #f7e296;  
}
.catalog__link:hover {
  background: #ffc600;
}
.catalog__img-container {
  width: 160px;
  height: 160px;
}
.catalog__img-container--elem1 {
  background-image: url('../img/catalog-1.png');
}
.catalog__img-container--elem2 {
  background-image: url('../img/catalog-2.png');
}
.catalog__img-container--elem3 {
  background-image: url('../img/catalog-3.png');
}
.catalog__img-container--elem4 {
  background-image: url('../img/catalog-4.png');
}
.catalog__img-container--elem5 {
  background-image: url('../img/catalog-5.png');
}
.catalog__img-container--elem6 {
  background-image: url('../img/catalog-6.png');
}
.catalog__img-container:active {
  opacity: 0.3;
}
.catalog__link:active .catalog__text {
  color: #c9c9c9;
}