/* Немного стилей для разметки. Потом всё привести в порядок */
.header-logo g {
  fill: rgba(0, 0, 0, 1);
}

.header-logo:hover g {
  fill-opacity: 0.5;
}

.header-logo:active g {
  fill-opacity: 0.3;
}

.footer-logo g {
  fill: #ffc600;
}

.partners__logo {
  width: 260px;
  height: 100px;
  display: block; 
  overflow: hidden;
}

.partners__logo:hover img {
  margin-top: -100px;
}

/*.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}*/

.catalog__item {
    width: 160px;
    display: inline-block;
    vertical-align: top;
    list-style: none;
    margin-right: 40px;
}

.catalog a {
  color: #464646;
  text-decoration: none;
}

.catalog__item {
  width: 160px;
}

.catalog__image-container {
  height: 160px;
  background: #f7e296;
}

.catalog__link:hover .catalog__image-container {
  background: #ffc600;
}

.catalog__link:active .catalog__image {
  opacity: 0.6;
}

.catalog__link:active .catalog__text {
  color: #c9c9c9;
}